// CLIENT HEADER
#header {
    padding: 1.5rem 10% !important;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;

    @include respond-mediaQuery(laptop) {
        padding: 1.5rem 5% !important;
    }

    @include respond-mediaQuery(phone) {
        flex-flow: column;
        flex-flow: column-reverse;
        padding-bottom: 0;
        padding: 0 !important;
        margin-bottom: -1px;
    }

    #logo {
        display: inline-block;
        width: 25rem;
        height: auto;
        line-height: 0;

        @include respond-mediaQuery(phone) {
            width: 28rem;
            padding: 10px 0 15px;
        }

        img {
            max-height: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
        }
    }

    a:hover {
        border-bottom: none;
    }

    .pull-right,
    .flush-right {
        display: flex;
        justify-content: flex-end;

        @include respond-mediaQuery(phone) {
            width: 100%;
            background-color: $color-primary--1;
            min-height: 5rem;
            flex-direction: column;
        }

        p {
            width: auto;
            margin: 0;
            display: flex;
            align-items: center;
            color: $color-best--1;
            padding: 1rem 2rem;

            @include respond-mediaQuery(phone) {
                font-size: 14px !important;
                padding: 1rem 5px !important;
                flex: 1;
            }

            a {
                @include respond-mediaQuery(phone) {
                    padding: 5px 5px;
                }
            }

            &:first-child {
                background-color: $color-primary--1;
                margin-right: 5px;
                color: $color-secondary--1;
                font-weight: 500;

                @include respond-mediaQuery(phone) {
                    font-weight: 300;
                    justify-content: center;
                    align-items: baseline;
                }

                a {
                    margin-left: 1rem;
                    color: $color-best--1;
                    font-weight: 400;
                    position: relative;

                    @include respond-mediaQuery(phone) {
                        padding: 5px 5px;
                    }

                    &:hover {
                        &::after {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: $color-best--1;
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }
                    }
                }
            }

            &:last-child {
                background-color: $color-dark--3;

                @include respond-mediaQuery(phone) {
                    justify-content: flex-end;
                    padding-right: 15px !important;
                    padding-top: 12px !important;
                }
            }

            a {
                position: relative;
                margin-right: 2rem;

                @include respond-mediaQuery(phone) {
                    text-align: center;
                }

                &::after {
                    // content: "";
                    height: 2rem;
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    top: 50%;
                    right: -1rem;
                    position: absolute;
                    @include transform(translate(0, -50%));
                }

                &:last-child {
                    margin-right: 0;

                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}

// CLIENT NAVIGATION
ul#nav {
    margin: 0;
    padding: 1.5rem 10%;
    background: $color-dark--3;
    border: none;
    box-shadow: none !important;
    height: auto;

    @include respond-mediaQuery(laptop) {
        padding: 1.5rem 5%;
    }

    @include respond-mediaQuery(ipad) {
        display: flex;
        flex-flow: row wrap;
        padding: 5px;
    }

    @include respond-mediaQuery(phone) {
        padding: 0 10px 10px 10px;
        justify-content: space-evenly !important;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
        margin-right: 2rem;

        @include respond-mediaQuery(phone) {
            margin-right: 0;
            border: 1px solid #333;
            margin: 2px;
            padding: 0 10px;
            width: 100%;
        }

        &:last-child {
            margin-right: 0;
        }


        a.home {
            background-image: url('@/../../assets/default/images/icons/home1.png') !important;
        }

        a.kb {
            background-image: url('@/../../assets/default/images/icons/kb1.png') !important;
        }

        a.new {
            background-image: url('@/../../assets/default/images/icons/new1.png') !important;
        }

        a.status {
            background-image: url('@/../../assets/default/images/icons/status1.png') !important;
        }

        a.tickets {
            background-image: url('@/../../assets/default/images/icons/tix1.png') !important;
        }

        a {
            text-transform: uppercase;
            height: auto;
            display: inline-block;
            border: 0;
            color: $color-best--4;
            margin: 0;
            line-height: 0;
            padding: 0 1rem 0 2.5rem;
            height: 5rem;
            line-height: 5rem;
            position: relative;
            @include borderRadious(0);
            color: rgba($color-best--1, 0.7);
            background-position: left !important;

            &.active,
            &:hover {
                background-color: transparent !important;
                color: $color-best--1;
            }

            @include respond-mediaQuery(phone) {
                font-size: 2.2rem;
                height: 6rem;
                line-height: 4rem;
                padding: 1rem 1rem 1rem 3.5rem;
                width: 100% !important;
                text-align: left;
            }
        }
    }
}

//  BODY
#content {
    margin: 0;
    padding: 3rem 10%;

    @include respond-mediaQuery(laptop) {
        padding: 3rem 5%;
    }

    @include respond-mediaQuery(phone) {
        padding: 3rem 10px;
        overflow: hidden !important;
    }

    h1 {
        color: $color-dark--1;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &>.row {
        @include respond-mediaQuery(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .row {
        h1 {
            // background-color: $color-primary--1;
            // padding: 5px;
            // color: $color-dark--1;

            @include respond-mediaQuery(phone) {
                margin-top: 10px;
            }
        }
    }

    .form-header {
        background-color: $color-support--2;
        background-color: $color-primary--2;
        color: $color-best--1;
        padding: 1rem 1.5rem;
    }



    .content {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .search.well {
        @include respond-mediaQuery(phone) {
            margin-top: -6px;
            padding: 0 !important;
        }

    }

    .sidebar {
        width: 100%;

        .searchbar {
            margin-bottom: 2rem;
        }

        @include respond-mediaQuery(ipad) {
            margin: 0;

        }

        @include respond-mediaQuery(phone) {
            margin-bottom: 0 !important;

        }

        section {
            border: 0;
            padding: 10px;
            background-color: $color-best--5  !important;
            line-height: 3rem;

            @include respond-mediaQuery(phone) {
                padding: 0 !important;
                background-color: transparent !important;
            }

            strong,
            .header {
                position: relative;
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                position: relative;
                color: $color-best--1;
                background-color: $color-dark--2  !important;
                padding: 1rem;
                display: block;
            }

            a {
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid rgba($color-danger--1, 0.1);
                padding: 1rem 0;
                margin-bottom: 0;

                &:hover {
                    color: $color-primary--1;
                }
            }

            div:last-child {
                a {
                    border-bottom: none;
                }
            }
        }

        select {
            @include respond-mediaQuery(phone) {
                display: none;
            }
        }
    }

    .thread-body {
        padding: 2rem 0;

        @include respond-mediaQuery(phone) {
            padding: 0;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 3rem;

            @include respond-mediaQuery(phone) {
                margin: 0 0 2rem 0
            }
        }

        p {
            font-size: 2rem;
            margin-bottom: 2rem;
            line-height: 2.5rem;

            @include respond-mediaQuery(phone) {
                font-size: 15px;
                line-height: 19px;
            }
        }
    }

    .thread-entry.message {
        .thread-body {
            padding: 10px !important;
        }
    }

    #landing_page {
        display: flex;
        flex-flow: row-reverse;
        align-items: flex-start;
        justify-content: space-between;

        @include respond-mediaQuery(ipad) {
            flex-flow: column-reverse;

            br {
                display: none;
            }
        }

        .sidebar {
            width: 30%;

            @include respond-mediaQuery(ipad) {
                width: 100%;
            }

            .front-page-button {
                display: none;
                margin: 0 0 1rem 0;
            }
        }

        .main-content {
            width: 70%;

            @include respond-mediaQuery(ipad) {
                width: 100%;
                margin-bottom: 20px;
            }

            .search-form {
                background-color: transparent;
                padding: 0;

                @include respond-mediaQuery(phone) {
                    margin-bottom: 20px;
                }

                form {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                }

                ¯ input[type="text"] {
                    width: 80%;
                }

                button {
                    width: 20%;
                    padding-left: 2rem;
                }
            }
        }


    }

    #breadcrumbs {
        background-color: $color-primary--1;
        color: rgba($color-best--1, 0.6);
        padding: 10px !important;
        font-size: 3rem;
        display: flex;
        align-items: center;

        a {
            &:first-child {
                margin-left: 0;
            }

            margin: 0 9px;
            color: $color-best--1;
            font-size: 1.7rem;

            &:hover {
                color: rgba($color-best--1, 0.9);
            }

            @include respond-mediaQuery(phone) {
                font-size: 2.2rem;
            }
        }
    }

    .buttons {
        text-align: left !important;
    }

    .span8 {
        border: 1px solid $color-best--5;
        padding: 12px;

        @include respond-mediaQuery(ipad) {
            margin-top: 20px;
        }
    }

    .span8,
    .span4 {
        @include respond-mediaQuery(ipad) {
            width: 100%;
            margin: 0 0 1rem 0;
        }

        @include respond-mediaQuery(phone) {
            h2 {
                margin-top: 2.5rem !important;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }
}

// KNOWLEDGE BASED
ul#kb {
    margin-bottom: 3rem;

    li {
        background: none !important;

        @include respond-mediaQuery(phone) {
            padding: 10px 0 !important;
        }

        .faded {
            p {
                @include respond-mediaQuery(phone) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }

    h4 {
        a {
            font-size: 1.7rem !important;

            @include respond-mediaQuery(phone) {
                font-size: 18px !important;
                line-height: 24px;
            }
        }
    }

    div[style="padding-bottom:15px;"] {
        display: none;
    }

    .popular-faq {
        border-bottom: 1px solid rgba($color-dark--1, 0.08);
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: none;
        }

        a {
            flex: 1;
            padding: 1rem 0;
        }

        i {
            margin-right: 1rem;
        }
    }
}

#faq {
    padding: 0;
    margin-top: 10px;

    @include respond-mediaQuery(phone) {
        margin-bottom: 3rem;
    }

    ol {
        border-top: none;
        margin: 0;
        padding: 0;

        li {
            a {
                padding: 1rem 1rem 1rem 3rem;
                color: $color-dark--2;
                font-size: 1.7rem;
                border-bottom-color: rgba($color-dark--1, $alpha: 0.05);

                @include respond-mediaQuery(phone) {
                    font-size: 2.2rem !important;
                    line-height: 2.6rem !important;
                }
            }

            &:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
    }
}

.faq-content {
    margin-bottom: 2rem;

    .faded {
        font-size: 1.6rem;

        @include respond-mediaQuery(phone) {
            font-size: 1.8rem;
        }
    }

    .thread-body {
        @include respond-mediaQuery(phone) {
            background-color: transparent !important;
            padding: 0 !important;
        }

        p {
            font-size: 1.6rem;
            line-height: 2rem;
        }

        a {
            color: $color-primary--1  !important;
        }
    }

    .article-title {
        @include respond-mediaQuery(phone) {
            font-size: 18px;
            line-height: 20px;
        }
    }

    ul {
        li {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 10px;

            @include respond-mediaQuery(phone) {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

#ticketInfo h1 {
    border-bottom: none;

}

// CHECK TICKET STATUS
form#clientLogin {
    background-color: rgba($color-best--3, $alpha: 0.4);
    padding: 3rem;
    border: none;
    @include borderRadious(0);
    @include boxShadow(none);

    @include respond-mediaQuery(phone) {
        padding: 10px 8px;
    }

    &>div {
        display: flex !important;

        @include respond-mediaQuery(phone) {
            display: flex;
            flex-flow: column;
        }
    }

    @include respond-mediaQuery(ipad) {
        background-image: none;
    }

    .login-box {
        width: 40%;
        border-right: 1px solid rgba($color: #000000, $alpha: 0.09);
        @include boxShadow(none);
        padding: 0 3rem 0 0;

        input {
            width: 100% !important;
        }
    }

    a {
        padding: 1rem;
        margin: 1rem 0 0 1rem;
        border: 1px solid $color-primary--1;
        color: $color-primary--1;
        display: inline-block;

        &:hover {
            background-color: $color-primary--1;
            color: $color-best--1;
            margin: 1rem 0 0 1rem;
        }
    }

    .instructions {
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        @include respond-mediaQuery(phone) {
            background-color: $color-best--1;
            padding: 1.5rem !important;
            margin-top: 1rem;
        }
    }

    .login-box,
    .instructions {
        @include respond-mediaQuery(phone) {
            width: 100%;
            margin-bottom: 1rem;
            padding-right: 0;
            border-right: 0;

            a {
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }
    }
}

// TICKETS
#content #ticketSearchForm {
    padding: 0 !important;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: $color-best--1  !important;

    .pull-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        @include respond-mediaQuery(phone) {
            float: none !important;
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            padding: 10px;
            background-color: #eee;

            select {
                margin-top: 5px;
            }
        }
    }

    @include respond-mediaQuery(phone) {
        display: block;
        margin-bottom: 10px;

        input {
            width: 100% !important;
            flex: 1;
            margin-bottom: 1rem;
        }
    }
}

// BUTTONS - INPUT
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.popup-dialog,
.action-button {
    height: 5rem !important;
    line-height: 4.8rem !important;

    @include respond-mediaQuery(phone) {
        height: 6.5rem !important;
        line-height: 6.5rem !important;
        font-size: 2rem;
    }
}

input,
select,
.select2-selection,
textarea,
.redactor-styles {
    height: 5rem !important;

    @include respond-mediaQuery(phone) {
        height: 6.5rem !important;

    }
}

.select2-selection__arrow {
    @include respond-mediaQuery(phone) {
        height: 100% !important;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
.selection,
.select2-selection {
    @include respond-mediaQuery(phone) {
        width: 100%;
    }
}

.select2-selection__rendered {
    @include respond-mediaQuery(phone) {
        line-height: 6.5rem !important;
    }
}

input[type="tel"] {
    @include respond-mediaQuery(phone) {
        margin-bottom: 1rem;
    }
}