#footer {
    min-height: 5vh;
    background-color: $color-best--3;
    position: absolute;
    width: 100%;
    padding: 3rem 0;
    p {
        font-size: 1.7rem;
        color: $color-dark--1;
        @include respond-mediaQuery(phone) {
           margin: 0 !important;
        }
    }
    #poweredBy {
        display: none !important;
    }
}
