.table,
table {
    width: 100% !important;
    border-collapse: collapse;

    @include respond-mediaQuery(phone) {
        table-layout: fixed !important;
    }

    td,
    th {
        padding: 1rem !important;
        vertical-align: middle !important;

        @include respond-mediaQuery(phone) {
            // padding: 15px 5px !important;

            a {
                font-size: 15px !important;
            }
        }

        hr {
            display: none;
        }

        img {
            box-shadow: none !important;
        }

        @include respond-mediaQuery(phone) {
            // word-wrap: break-word !important;
            word-break: break-word !important;
            // overflow-wrap: break-word !important;
        }

        span,
        select {
            @include respond-mediaQuery(phone) {
                max-width: 100% !important;
            }
        }

    }

    td {
        border: 1px solid $color-best--3  !important;


    }

    // td[colspan="2"] > div {
    //     display: flex;
    // }
    th {
        background-color: $color-dark--1  !important;
        color: $color-best--1  !important;
        border: 1px solid rgba($color-best--1, 0.2) !important;
        font-size: 1.7rem !important;

        a,
        p,
        span,
        em {
            color: $color-best--1  !important;

            @include respond-mediaQuery(phone) {
                display: block;
                width: 100%;
                line-height: 17px;
                text-align: center;
            }
        }

        a.desc,
        a.asc {
            background-color: transparent !important;
        }
    }
}

#ticketTable {
    caption {
        background-color: $color-primary--2;
        color: $color-best--1;
        border: none;

        @include respond-mediaQuery(phone) {
            margin-bottom: -1px;
        }
    }

    @include respond-mediaQuery(phone) {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
        white-space: nowrap;
        display: block;
        border: none !important;
        margin-bottom: 15px;
    }

    

    thead {
        th:first-child {
            @include respond-mediaQuery(phone) {
                border-left: none !important;
            }
        }
    }

    table {

        tbody {
            .Icon.webTicket {
                @include respond-mediaQuery(phone) {
                    display: block;
                }
            }
        }

    }
}

#ticketInfo {
    @include respond-mediaQuery(phone) {
        table {
            border-collapse: collapse;
        }

        .pull-right {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        tbody {
            display: block;
        }

        tr {
            display: flex;
            flex-direction: column;
            width: 100%;

            td,
            th {
                display: block;
                width: 100%;
                padding: 0 !important;
                border: none !important;
                font-size: 15px !important;

                table {
                    tr {
                        flex-direction: row;

                        th,
                        td {
                            border: 1px solid #eee !important;
                            padding: 10px !important;
                        }
                    }
                }

                table.infoTable {

                    th,
                    td {
                        border: none !important;
                        border-bottom: 1px solid $color-best--3  !important;
                    }
                }
            }
        }
    }

}
#ticketTable,
#ticketForm{
    td,
    th {
        @include respond-mediaQuery(phone) {
            padding: 13px 5px !important;
        }
    }
    td:empty{
        display: none !important;
    }
}

table.ticket_info {
    &>tbody>tr>td {
        border: none;
        background-color: #f8f8f8;
    }
}

.tip_box table th,
table td th {
    background-color: $color-best--4  !important;
    color: $color-dark--2  !important;
    border: 1px solid $color-best--3  !important;

    em {
        color: $color-dark--2  !important;
    }
}

.tip_box table td {
    padding: 1rem;
    border: 1px solid $color-best--3  !important;
}

table.list {
    background-color: $color-best--4;
}