.warning-banner,
#msg_warning {
    height: auto !important;
    padding: 1rem 1rem 1rem 4rem !important;
    @include respond-mediaQuery(phone) {
        padding: 1rem 1rem 1rem 5rem !important;
    }
}